<template>
    <div>
        <nav>
            <router-link to="/">Список</router-link>
            <router-link to="/patient_edit">Редактировать</router-link>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
    // import PatientsList from 'components/PatientsListEdit.vue'
    export default {
        components: {
            // PatientsList
        },
        data() {
            return {
                patients: []
            }
        }//,
        // created() {
        //     this.$resource('/patient/all').get().then(result =>
        //         result.json().then(data =>
        //             data.forEach(patient => this.patients.push(patient))
        //         )
        //     )
        // }
    };
</script>

<style>

</style>