<template>
    <div style="position: relative; width: 600px;">
        <patient-form :patients="patients" :patientEdit="patient" />
        <h4>Список пациентов</h4>
        <patient-row v-for="patient in patients"
                     :key="patient.id"
                     :patient="patient"
                     :editPatient="editPatient"
                     :delPatient="delPatient"
                     :patients="patients"
                     :show=true />
    </div>
</template>

<script>
    import PatientRow from 'components/PatientRow.vue'
    import PatientForm from 'components/PatientForm.vue'
    export default {
        components: {
            PatientRow,
            PatientForm
        },
        // props: ['patients'],
        data() {
            return {
                patient: null,
                patients: []
            }
        },
        created() {
            let patients = [];
            this.$resource('/patient/all').get().then(
                result =>
                result.json().then(data =>
                    data.forEach(patient => this.patients.push(patient))
                )
            );
            this.patients = patients;
        },
        methods: {
            editPatient(patient) {
                this.patient = patient
            },
            delPatient(patient) {
                this.$resource('/patient{/id}').remove({id: patient.id}).then(result => {
                    if (result.ok) {
                        this.patients.splice(this.patients.indexOf(this.patient), 1)
                    }
                })
            }
        }
    }

</script>

<style>

</style>