<template>
    <div style="position: relative; width: 600px;">
        <h4>Список пациентов</h4>
        <patient-row v-for="patient in patients"
                     :key="patient.id"
                     :patient="patient"
                     :patients="patients"
                     :show=false />
    </div>
</template>

<script>
    import PatientRow from 'components/PatientRow.vue'
    export default {
        components: {
            PatientRow
        },
        data() {
            return {
                patients: []
            }
        },
        created() {
            let patients = [];
            this.$resource('/patient/all').get().then(
                result =>
                result.json().then(data =>
                    data.forEach(patient => this.patients.push(patient))
                )
            );
            this.patients = patients;
        }
    }

</script>

<style>

</style>