<template>
    <div style="margin-bottom: 5px; margin-top: 5px">
        <div>
            {{ patient.surname }} {{ patient.name }} {{ patient.patronymic }}
        </div>
        <div>
            {{ patient.insuranceNumber }} {{ patient.birthDate }} {{ patient.gender }}
        <span v-if="show === true" style="position: absolute; right: 150px;">
                    <input type="button" value="Изменить" @click="edit" />
                    <input type="button" value="Удалить" @click="remove" />
                </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['patient', 'editPatient', ,'delPatient', 'patients', 'show'],
        methods: {
            edit() {
                this.editPatient(this.patient)
            },
            remove() {
                this.delPatient(this.patient)
            }
        }
    }
</script>

<style>

</style>