<template>
    <div>
    <h4>Доавить пациента</h4>
    <div>
        <input type="text" placeholder="Фамилия" v-model="surname" />
        <input type="text" placeholder="Имя" v-model="name" />
        <input type="text" placeholder="Отчество" v-model="patronymic" />
        </div>
    <div>
        <input type="text" placeholder="Дата рождения" v-model="birthDate" />
        <input type="text" placeholder="Пол" v-model="gender" />
        <input type="text" placeholder="СНИЛС" v-model="insuranceNumber" />
        </div>
    <div>
        <input type="button" value="Сохранить" @click="save" />
        </div>
    </div>
</template>

<script>
    function getPatientIndex(list, id) {
        for (var i=0; i<list.length; i++) {
            if (list[i].id === id)
                return i;
        }
        return -1;
    }

    export default {
        props: ['patients', 'patientEdit'],
        data() {
            return {
                surname: '',
                name: '',
                patronymic: '',
                birthDate: '',
                gender: '',
                insuranceNumber: '',
                id: ''
            }
        },
        watch: {
            patientEdit: function(newVal, oldVal) {
                this.surname = newVal.surname;
                this.name = newVal.name;
                this.patronymic = newVal.patronymic;
                this.birthDate = newVal.birthDate;
                this.gender = newVal.gender;
                this.insuranceNumber = newVal.insuranceNumber;
                this.id = newVal.id;
            }
        },
        methods: {
            save() {
                var patient = {
                    surname: this.surname,
                    name: this.name,
                    patronymic: this.patronymic,
                    birthDate: this.birthDate,
                    gender: this.gender,
                    insuranceNumber: this.insuranceNumber,
                };

                if (this.id) {
                    this.$resource('/patient{/id}').update({id: this.id}, patient).then(result =>
                        result.json().then(data => {
                            const index = getPatientIndex(this.patients, data.id);
                            this.patients.splice(index, 1, data);
                            this.surname = '';
                            this.name = '';
                            this.patronymic = '';
                            this.birthDate = '';
                            this.gender = '';
                            this.insuranceNumber = '';
                            this.id = '';
                        })
                    )
                }
                else {
                    this.$resource('/patient{/id}').save({}, patient).then(result =>
                        result.json().then(data => {
                            this.patients.push(data);
                            this.surname = '';
                            this.name = '';
                            this.patronymic = '';
                            this.birthDate = '';
                            this.gender = '';
                            this.insuranceNumber = '';
                        })
                    )
                }
            }
        }

    }
</script>

<style>

</style>